<?xml version="1.0" encoding="utf-8" ?>
<configuration>

	<configSections>
		<section name="ServiceExtensions" type="Beedev.Xrm.CrmSvcUtil.Extensions.Configuration.ServiceExtensionsConfigurationSection, 
					Beedev.Xrm.CrmSvcUtil.Extensions, Version=8.2.0.0, Culture=neutral, PublicKeyToken=null" />
	</configSections>
	<ServiceExtensions>
		<Filtering>
			<EntityFilter>
				<clear/>
				<add name="validAccountExpression" expression="account"/>
			</EntityFilter>
      <AttributeFilter>
        <clear/>
        <add name="matchAccountName" entity="account" expression="^name$" />
      </AttributeFilter>
		</Filtering>
	</ServiceExtensions>
	<system.diagnostics>
		<trace autoflush="true"/>
		<sources>
			<source name="Beedev.Xrm.CrmSvcUtil.Extensions" switchName="Beedev.Xrm.CrmSvcUtil.Extensions" switchType="System.Diagnostics.SourceSwitch">
				<listeners>
					<add name="console" type="System.Diagnostics.ConsoleTraceListener"/>
				</listeners>
			</source>
		</sources>
		<switches>

			<!--Possible values for switches: Off, Error, Warning, Information, Verbose
						Verbose:      includes Error, Warning, Info, Trace levels
						Information:  includes Error, Warning, Info levels
						Warning:      includes Error, Warning levels
						Error:        includes Error level-->

			<add name="Beedev.Xrm.CrmSvcUtil.Extensions" value="Verbose"/>
		</switches>

	</system.diagnostics>
</configuration>